<div class="container col-6">
    <div class="form-group">
        <label for="chatuser">User</label>
        <input type="text" id="chatuser" class="form-control" />
    </div>
    <div class="form-group">
        <label for="chatmessage">Message</label>
        <textarea class="form-control" id="chatmessage" rows="2"></textarea>
    </div>
    <input type="button" class="btn btn-primary" id="send" value="Send Message" />
</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="container col-6">
    <ul class="list-group" id="messagesList"></ul>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/aspnet-signalr/1.1.4/signalr.min.js'></script>
    <script src="~/main.js"></script>
}